.nav-item {
    & a {
        text-decoration: none;
        color: $darkGray;
    }
    
    & a.active {
        color: $blue;
    }
    
    & :hover{
        color:$lightBlue;
    }
}

.logo {
    width: 10%;
    margin-left: 1em;
}

.menu {
    margin-left: 20%;
}
