.modal {
    border: solid 1px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // z-index: 1;
    background-color: $white;
    width: 40%;
    height: 40%;
    & .modal-header {
        background-color: $lightGray;
    }

    & .modal-body {
        height: 65%;
        overflow-y: auto;
    }

    & .modal-footer {
        position: absolute;
        bottom: 1em;
        right: 1em;
    }
}

.modal-blur {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
